<h1><%= @confession.title%></h1>

<p><%= @confession.text%></p>

<strong>Topics</strong><br>
<% @confession.topics.each do |topic|%>
	<%= topic.name %><br>
<% end %>
<br>

<% if @confession.comments.count > 0 %>
<strong>Comments</strong><br>
<% end %>
<% @confession.comments.each do |comment|%>
	<% if comment.user %>
		<%= comment.user.username %>:
	<% end %>
	<%= comment.text %><br>
<% end %>
<br>



New Comment
<%= render 'comment_form' %><br>

<p><%= link_to 'Back to Confessions', '/confessions' %></p>
