<h1><%= @confession.title %></h1>
<p><%= @confession.text %></p>

<p>------------------------------------------------------------</p>

<%= form_for @comment do |f| %>
	<label>Add Comment</label><br>
	<%= f.text_area :text %><br>
	<%= f.submit %>
<% end %>
<br>

<p><%= link_to 'Back to Confessions', '/confessions' %></p>
