<h1><%= @confession.title %></h1>

<p><%= @confession.text %></p>


<%= form_for ([@confession, @confession.comments.build]) do |f| %>
	<%= f.label :text %>
	<%= f.text_area :text %>
	<%= f.submit %>
<% end %>
<br>

