<h1><%= @user.username %></h1>

<h3>Confessions: <%= @user.confessions.count %><br></h3>
<% @user.confessions.each do |x| %>
<%= link_to x.title, x %><br>
<% end %>
<br><br>

<h3>Comments: <%= @user.comments.count %><br></h3>
<% @user.comments.each do |comment| %>
	<%= link_to comment.confession.title, comment.confession %><br>
	<%= comment.text %><br><br>
<% end %>
