<div style='padding-left: 20px;'><br>

<h2>Confession Analytics</h2><br>
<table>
	<th><h5>Confessions</h5></th>
	<th><h5>Users</h5></th>
	<th><h5>Topics</h5></th>
	<th><h5>Comments</h5></th>
<tbody>
<tr>
<td valign='top'><ul>
	<% @confession_methods.each do |method| %>
		<li><%= method.to_s.gsub('_',' ').capitalize %>:
			<% Confession.send(method).each do |result| %><br>
			<%=  link_to result.title, result %>
			<% end %>
		</li>
	<% end %>
</ul>
</td>


<td valign='top'>
<ul>
	<% @user_methods.each do |method| %>
		<li><%= method.to_s.gsub('_',' ').capitalize %>:
			<% User.send(method).each do |result| %><br>
			<%=  result.username %>
			<% end %>
		</li>
	<% end %>
</ul>
</td>

<td valign='top'>
<ul>
	<% @topic_methods.each do |method| %>
		<li><%= method.to_s.gsub('_',' ').capitalize %>:
			<% Topic.send(method).each do |result| %><br>
			<%=  link_to result.name, result %>
			<% end %>
		</li>
	<% end %>
</ul>
</td>

<td valign='top'>
<ul>
	<% @comment_methods.each do |method| %>
		<li><%= method.to_s.gsub('_',' ').capitalize %>:
			<% Comment.send(method).each do |result| %><br>
			<%= link_to result.confession.title, result.confession %> <br> - <%=  result.text %>
			<% end %>
		</li>
	<% end %>
</ul>
</td>
</tr>

</tbody>
</table>

</div>
