<!DOCTYPE html>
<html>
  <head>
    <title>Confession Planet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<% if session[:user_id] %>
    <%= link_to 'Home', '/confessions' %>
  		<%= link_to 'Post Confession', :new_confession %>
      <%= link_to 'Profile', '/profile/:id' %>
  		<%= link_to "Log out", 'logout', method: "delete" %>
  	<% else %>
  	<% end %>

    <%= yield %>
  </body>
</html>
